@import "bootstrap/dist/css/bootstrap.min.css";

body{
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: auto;
    background: green;
    align-items: center
}
#carta{
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    background-color: white;
    width: 400px;
    height: 500px;
    justify-content: space-around;
}
.simbolo1{
    align-items: space-start;
    font-Size :7em;
    display: flex;
    
}
.numero{
    align-items: center;
    font-Size :7em ;
    display: flex;
}
.simbolo2{
    font-Size:7em ;
    align-items: space-end;
    display: flex;
    transform: rotate(180deg);
}
#reset{
    margin: 30px;
    display: flex;
}
